{% extends "jobposts/base.html" %}
{% block content %}
    <div>
        <div>
            <h3>Missions and Goals</h3>
            <ul>
                <li>Facilitate the communication among USTC alumni</li>
                <li>Provide career advice to USTC alumni</li>
                <li>Unit USTC alumni worldwide</li>
            </ul>
        </div>
        <div>
            <h3>Rules and Responsibilities</h3>
            <ul>
                <li>You must be a alumnus or have direct relationship with a alumnus</li>
                <li>You must register and login to search for jobs, references or candidates</li>
            </ul>
        </div>
    </div>
{% endblock content %}